@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:rgb(233, 176, 70);
}
.Main{
background-color: rgb(155, 238, 210);
padding-left: 20px;
margin-right: 50px;
border: 10px solid black;
border-radius: 20px;
height: 400px;
}
.sub-section{
  margin-top: 40px;
}